<h4>Club Leaders</h4>
<hr class="style-four">
<h5><%= @yaml['President']['name'] %> - President</h5><br>
<%= @yaml['President']['bio'] %>
<hr>

<h5><%= @yaml['Vice President']['name'] %> - Vice President</h5><br>
<%= @yaml['Vice President']['bio'] %>
<hr>

<h5><%= @yaml['Treasurer']['name'] %> - Treasurer</h5><br>
<%= @yaml['Treasurer']['bio'] %>
<hr>

<h5><%= @yaml['Secretary']['name'] %> - Secretary</h5><br>
<%= @yaml['Secretary']['bio'] %>
<hr>

<h5><%= @yaml['Dir1']['name'] %></h5><br>
<%= @yaml['Dir1']['bio'] %>
<hr>

<h5><%= @yaml['Dir2']['name'] %></h5><br>
<%= @yaml['Dir2']['bio'] %>
<hr>

<h5><%= @yaml['Dir3']['name'] %></h5><br>
<%= @yaml['Dir3']['bio'] %>
<hr>

<h5><%= @yaml['Dir4']['name'] %></h5><br>
<%= @yaml['Dir4']['bio'] %>
<hr>



