<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Triathlon Club of New England", '#', :class => "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", "#", :id => "navHome" %></li>
          <li><%= link_to "Leadership", "#", :id => "navLeadership"  %></li>
          <li><%= link_to "Sponsors", "#", :id => "navSponsors" %></li>
          <li><%= link_to "Members", "http://www.rhodeproject.com", :id => "navMembers" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>